#h1{
  text-align: center;
}
#gotenks{
font-size:20px;
color:chartreuse;
}
#goku{
font-size:20px;
color:red;
}
#majiin{
font-size:20px;
color:cyan;
}
#gogeta{
    font-size:20px;
color:yellow;
}
#gogetablue{
font-size:20px;
color:blue;
}
#zamasu{
font-size:20px;
color:purple;
}
vegito{
font-size:20px;
color:red;
}
body{
text-align:center;
background-color:
}
div{
margin-top: 15px;
}
.image-section{
display:flex;
justify-content:center; 
}
.section-style{
margin-right:25px;
margin-left:25px;
background-color:white;
}